* { box-sizing: border-box; }
html { font-size: 62.5%; }
body {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100%;

  font-size: 2rem;
  line-height: 1.6em;
  margin: 0;
  padding: 0;

  background: $white;
  overflow: hidden;
}

i { font-size: italic; }
b, i.fa {
  &[data-color='green'] { color: $green; }
  &[data-color='yellow'] { color: $yellow; }
  &[data-color='red'] { color: $red; }
}


footer.main {
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
