$rect-size: 3rem;
$rect-pulse-scale: 1.2;

@keyframes pulse {
  from { width: $rect-size; height: $rect-size; }
  to {
    width: $rect-size * $rect-pulse-scale;
    height: $rect-size * $rect-pulse-scale;
    transform: translate(-($rect-size / 2) * $rect-pulse-scale, -($rect-size / 2) * $rect-pulse-scale) }
}

svg.grid {
  position: fixed;
  top: calc(50% - #{$rect-size});
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 80vmin;
  height: 80vmin;

  padding: 2rem;

  line {
    stroke: $gray;
    stroke-width: 1px;
  }

  rect {
    width: $rect-size;
    height: $rect-size;
    transform: translate(-$rect-size / 2, -$rect-size / 2);

    fill: $gray;
    @include easing(200ms, fill);

    &.was-not-validated { fill: mix($red, $gray, 30%); }

    &:hover {
      fill: $black;
      cursor: pointer;
      animation: pulse 500ms infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }

    &.is-mapped { fill: $yellow; }
    &.is-active {
      fill: $black;
      animation: pulse 500ms infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
    &.is-validated { fill: $green; }
    &.is-not-validated { fill: $red; }
    &.is-disabled { pointer-events: none; }
  }
}
