@import 'sass/vendors/font-awesome/font-awesome';

@import 'sass/fonts';
@import 'sass/reset';
@import 'sass/helpers';

$black:  #262626;
$gray:   #C1C1C1;
$white:  #F2F2F2;
$green:  #56E271;
$yellow: #F9D43A;
$red:    #FF6464;

@import 'sass/base';
@import 'components/alert';
@import 'components/button';
@import 'components/breadcrumb';
@import 'components/grid';
